* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ccc;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

nav a.active {
  background-color: #333;
  color: #fff;
}

main {
  padding: 3rem 2rem;
  gap: 4rem;
  margin-bottom: 10%;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.map-content {
  display: flex;
  gap: 2rem;
}

.store-list {
  width: 30%;
}

.store-item {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.store-item strong {
  font-weight: bold;
  font-size: 1.2rem;
}

.store-item div {
  font-size: 0.9rem;
  color: #777;
}

.map-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  padding: 2rem;
}

.map-image {
  width: 100%;
  max-width: 400px;
  height: auto;
}

footer {
  text-align: left;
  padding: 2rem;
  border-top: 1px solid #ccc;
  font-size: 0.9rem;
  color: #666;
}
