<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1인 가구 식재료 관리</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/list.css" />
    <style>
      #ambient {
        background: #cfd8dc;
      }
    </style>
  </head>
  <body>
    <header>
      <span class="header-title">Site name</span>
      <nav class="header-nav">
        <a href="../static/main.html" data-section="main">Main</a>
        <a href="../static/map.html" data-section="map">Map</a>
        <a href="../static/mypage.html" data-section="my-page">My Page</a>
      </nav>
      <div class="header-actions">
        <div
          class="btn-circle"
          data-section="add"
          onclick="navigateTo('../static/add.html')"
        >
          <i class="material-icons">add</i>
        </div>
        <div class="search-box">
          <input type="text" placeholder="검색 키워드" />
          <i class="material-icons">search</i>
        </div>
      </div>
    </header>

    <!-- 좌측 메뉴 바 -->
    <!-- onclick으로 파일 이동 -> 유지보수 편리함, 필요 없는 태그들 지움 + id 추가 -->
    <aside>
      <div class="sidebar-subtitle">More</div>
      <div class="nav-group">
        <div
          class="nav-item"
          id="feedback"
          onclick="navigateTo('../static/contact.html')"
        >
          <i class="material-icons">feedback</i>Feedback
        </div>
        <div
          class="nav-item"
          id="info"
          onclick="navigateTo('../static/index.html')"
        >
          <i class="material-icons">info</i>About
        </div>
      </div>
      <hr />
      <div class="sidebar-subtitle">Labels</div>
      <div class="nav-group">
        <div class="nav-item" id="listall" onclick="navigateTo('listall.html')">
          <i class="material-icons">folder</i>전체 목록<span class="badge"
            >5</span
          >
        </div>
        <div class="nav-item" id="ambient">
          <i class="material-icons">schedule</i>소비기한 임박<span class="badge"
            >3</span
          >
        </div>
        <div
          class="nav-item"
          id="bookmarks"
          onclick="navigateTo('bookmarks.html')"
        >
          <i class="material-icons">folder</i>즐겨찾기<span class="badge"
            >2</span
          >
        </div>
      </div>
      <hr />
      <div class="sidebar-subtitle">Labels</div>
      <div class="nav-group">
        <div class="nav-item" id="freeze" onclick="navigateTo('freeze.html')">
          <i class="material-icons">ac_unit</i>냉동<span class="badge">2</span>
        </div>
        <div class="nav-item" id="fridge" onclick="navigateTo('fridge.html')">
          <i class="material-icons">kitchen</i>냉장<span class="badge">2</span>
        </div>
        <div
          class="nav-item"
          id="expiring"
          onclick="navigateTo('expiring.html')"
        >
          <i class="material-icons">wb_sunny</i>실온<span class="badge">1</span>
        </div>
      </div>
    </aside>

    <!-- 본문 리스트 내용 -->
    <div class="container">
      <!-- <div class="page"> 
        다른 html 파일에서 page 태그 다 지우기: 필요 X-->
      <h2>소비기한 임박 목록</h2>
      <div class="list-container">
        <div class="list-item">
          <i class="material-icons">star_border</i>
          <div class="item-text">
            <div class="storage-status refrigerated">냉장</div>
            <span class="name">우유</span
            ><span class="expiry">~ 2025.05.10</span>
          </div>
          <input type="checkbox" />
        </div>

        <div class="list-item">
          <i class="material-icons">star</i>
          <div class="item-text">
            <span class="name">계란</span>
            <span class="support">2일 이내 소비 필요</span>
          </div>
          <input type="checkbox" />
        </div>
      </div>
      <!-- </div> -->
    </div>
    <script src="../static/js/list.js"></script>
  </body>
</html>
