<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1인 가구 식재료 관리</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/managing.css" />
    <style>
      #managing {
        background: #cfd8dc;
      }
    </style>
    <script>
      const password = prompt("비밀번호를 입력하세요");
      if (password !== "test") {
        alert("접근할 수 없습니다.");
        window.location.href = "/index";
      }
    </script>
  </head>
  <body>
    <header>
      <span class="header-title" onclick="navigateTo('/index.html')"
        ><img src="/logo.png" alt="FROOMIE"
      /></span>
      <nav class="header-nav">
        <a onclick="navigateTo('/main.html')" data-section="main">Main</a>
        <a onclick="navigateTo('/map.html')" data-section="map">Map</a>
        <a onclick="navigateTo('/mypage.html')" data-section="my-page"
          >My Page</a
        >
      </nav>
      <div class="header-actions">
        <div class="btn-circle" data-section="add">
          <i class="material-icons">add</i>
        </div>
        <div class="search-box">
          <input type="text" placeholder="검색 키워드" />
          <i class="material-icons">search</i>
        </div>
      </div>
    </header>

    <aside>
      <div class="sidebar-subtitle">More</div>
      <div class="nav-group">
        <div
          class="nav-item"
          id="feedback"
          onclick="navigateTo('/contact.html')"
        >
          <i class="material-icons">feedback</i>Feedback
        </div>
        <div class="nav-item" id="info" onclick="navigateTo('/index.html')">
          <i class="material-icons">info</i>About
        </div>
        <div class="nav-item" id="managing">
          <i class="material-icons">supervisor_account</i>회원 관리
        </div>
      </div>
      <hr />
      <div class="sidebar-subtitle">Labels</div>
      <div class="nav-group">
        <div class="nav-item" id="listall" onclick="navigateTo('listall')">
          <i class="material-icons">folder</i>전체 목록<span class="badge"
            >5</span
          >
        </div>
        <div class="nav-item" id="ambient" onclick="navigateTo('ambient')">
          <i class="material-icons">schedule</i>소비기한 임박<span class="badge"
            >3</span
          >
        </div>
        <div class="nav-item" id="bookmarks" onclick="navigateTo('bookmarks')">
          <i class="material-icons">folder</i>즐겨찾기<span class="badge"
            >2</span
          >
        </div>
      </div>
      <hr />
      <div class="sidebar-subtitle">Labels</div>
      <div class="nav-group">
        <div class="nav-item" id="freeze" onclick="navigateTo('freeze')">
          <i class="material-icons">ac_unit</i>냉동<span class="badge">2</span>
        </div>
        <div class="nav-item" id="fridge" onclick="navigateTo('fridge')">
          <i class="material-icons">kitchen</i>냉장<span class="badge">2</span>
        </div>
        <div class="nav-item" id="expiring" onclick="navigateTo('expiring')">
          <i class="material-icons">wb_sunny</i>실온<span class="badge">1</span>
        </div>
      </div>
    </aside>
    <div class="sidebar-toggle">
      <i class="material-icons">menu</i>
    </div>
    <div class="container">
      <h2>회원 관리</h2>
      <h4>운영자 페이지: 회원 목록 조회</h4>
      <table class="admin-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>사용자 명</th>
            <th>메일 주소</th>
            <th>문의 사항</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>001</td>
            <td>test1</td>
            <td>test1@example.com</td>
            <td>기타 항목도 만들어주세요.</td>
          </tr>
          <tr>
            <td>002</td>
            <td>test2</td>
            <td>test2@example.com</td>
            <td>온라인 쇼핑도 가능했으면 좋겠습니다.</td>
          </tr>
          <tr>
            <td>003</td>
            <td>test3</td>
            <td>test3@example.com</td>
            <td>잘 쓰고 있습니다~!</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="/js/managing.js"></script>
  </body>
</html>
